.cesium-viewer{
    width: 100%;
    height: 100%;
}

.cesium-viewer-cesiumWidgetContainer{
    width: 100%;
    height: 100%;
}

.cesium-widget, canvas{
    width: 100%;
    height: 100%;
}